@import 'reset.css';
@import 'components.css';

body {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 16px;
}

main {
    max-width: 376px;
    padding: 10px;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.header__logo img {
    width: 80px;
}

.header__button {
    background-color: #13183F;
    color: #FFFFFF;
    font-size: 15px;
    font-weight: 700;
}

.hero {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: space-between;
    margin-top: 60px;
}

.hero__heading {
    color: #13183F;
    font-size: 40px;
    font-weight: 700;
    line-height: 50px;
}

.hero__subheading {
    color: #83869A;
    padding-top: 24px;
    line-height: 24px;
    font-size: 18px;
}

.hero__button {
    margin-top: 45px;
    color: #FFFFFF;
    background: rgb(255,111,72);
    background: linear-gradient(180deg, rgba(255,111,72,1) 0%, rgba(240,42,166,1) 100%);
}

.hero__img {
    background: url('/assets/image-hero-mobile.png');
    background-position: center center;
    background-repeat: no-repeat;
    height: 320px;
    margin-top: 80px;
}

/* .hero__heading */
/* .hero__subheading */
/* .hero__button */

/* #13183F */